@page "/"

<h1>Ahoj!</h1>

Tohhle je testovací beta verze online implementace klasického programu osvojení návyku
<br />
- tak jak jen Jaroslav Foglar popsal ve své knize již v roce 1934 (!!)
<br />
<a href="https://cs.wikipedia.org/wiki/Modr%C3%BD_%C5%BEivot#cite_note-8" class="link-info" target="_blank">Odkaz na wikipedii</a>
<br />
Aplikace ukládá vše do lokální paměti vašeho prohlížeče - tedy dokud ji nevymažete najdete na tomto webu vždy váš modrý život.
<br />
Aktuálně je implementována pouze úplně nejzákladnější funkcionalita. Aplikace je vytvořena pomocí Blazor
<br />
Verze beta - no guarantees :D   <a href="https://github.com/pavelpolcr" class="link-info" target="_blank">- muj github</a>
<br />
ITnoob Pavel. 
<br />

<h6> Implementováno</h6>
<ul>
    <li>Možnost si zaznačit splněné políčko - defaultně jsou odemčena políčka s aktuálním datem </li>
    <li>Možnost odemčít celý měsíc</li>
    <li>Libovolný posun ropředu a dozadu</li>
</ul>
<h6> Plán na nejbližší budoucnost</h6>
<ul>
    <li>Možnost upravit si denní úkoly na své</li>
    <li>Možnost exportu dat</li>
    <li>Základní statistiky</li>
</ul>
<h6> Další plány</h6>
<ul>
    <li>Možnost přihlášení google/facebook a synchronizace</li>
    <li>Možnost sdílet statistiky</li>
    <li>Remindery</li>
</ul>

@code{



}